.medify-logo{
    width: 55%;
}
@media (min-width: 1025px) {
    .navBarContainer{
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}
.NavbarOverride .MuiContainer-root{
    background: #fff;
    /* box-shadow: 1px 1px 10px #ccc; */
    position: relative;
    top: -180px;
}
