:root{
  --primary: #2AA8FF;
  --bg: #eaf2ff;
  --font: 'Poppins', sans-serif;
}
body {
  margin: 0; 
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eaf2ff;;
}
html{
  font-family: 'Poppins', sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
.css-pa188r-MuiModal-root-MuiPopover-root-MuiMenu-root{

  z-index: 100000 !important;
}
.searchResults{
  position: relative;
  top: -100px;
}
a{

  text-decoration: none !important;
}